<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.devmil.muzei.bingimageoftheday">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="BingImageOfTheDayApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="@string/source_label" >
        </activity>

        <activity
            android:name=".LicenseInfoActivity"
            android:exported="false"
            android:label="@string/license_info_label">
        </activity>

        <service
            android:name=".BingImageOfTheDayArtSource"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.apps.muzei.api.MuzeiArtSource"/>
            </intent-filter>
            <meta-data
                android:name="replacement"
                android:value="${bingImageOfTheDayAuthority}"/>
        </service>

        <provider
            android:name=".BingImageOfTheDayContentProvider"
            android:authorities="${bingImageOfTheDayContentProviderAuthority}"
            android:exported="true"
            android:grantUriPermissions="true">
        </provider>

        <provider
            android:name=".BingImageOfTheDayArtProvider"
            android:authorities="${bingImageOfTheDayAuthority}"
            android:exported="true"
            android:label="@string/source_label"
            android:description="@string/source_description"
            android:permission="com.google.android.apps.muzei.api.ACCESS_PROVIDER">
            <intent-filter>
                <action android:name="com.google.android.apps.muzei.api.MuzeiArtProvider"/>
            </intent-filter>
            <meta-data
                android:name="settingsActivity"
                android:value="de.devmil.muzei.bingimageoftheday.SettingsActivity" />
        </provider>

        <provider android:name="com.google.android.apps.muzei.api.provider.MuzeiArtDocumentsProvider"
            android:authorities="${bingImageOfTheDayAuthority}.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

        <receiver
            android:name=".BingImageOfTheDayUpdateReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
